/* Variables */
:root {
  --dutch-white: #F2E2BA;
  --lavender-blush: #FFE9F3;
  --vista-blue: #7899D4;
  --prussian-blue: #0B3954;
  --chocolate-cosmos: #4C191B;
  --charcoal: #424B54;
}

/* Baseline */
* {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Arial', sans-serif;
  color: var(--prussian-blue);
}

.body {
  position: relative;
  background: var(--lavender-blush);
}

/* Utility */
button,
.button {
  background: transparent;
  border: 0;
  border-radius: 1rem;
  text-decoration: none;
  display: inline-flex;
  padding: .25rem .75rem;
  cursor: pointer;
  font-family: inherit;
}

.button__primary {
  background-color: var(--prussian-blue);
  color: var(--dutch-white);
}

.button__secondary {
  padding: 0;
  text-decoration: underline;
  font-size: .75rem;
}

.container {
  margin: 0 auto;
  padding: 30px 1.5rem;
  max-width: 1200px;
  display: flex;
  flex-direction: column-reverse;
}

.hidden {
  display: none;
}

/* Component */
.hud {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.hud .button__primary {
  align-self: center;
}

.player-cards {
  display: flex;
  justify-content: space-around;
  padding: 2rem 0;
}

.player-card {
  transition: all .2s ease-out;
}

.player-card.is-current {
  transform: scale(1.2);
}

.player-card__name-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
  gap: .25rem;
}

.game-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.game {
  width: 100%;
  aspect-ratio: 1/1;
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 0px;
  border-left: 1px solid var(--charcoal);
  border-top: 1px solid var(--charcoal);
  position: relative;
}

.game::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
}

.game.playing::after {
  display: none;
}

.game-cell {
  border-right: 1px solid var(--charcoal);
  border-bottom: 1px solid var(--charcoal);
  cursor: pointer;
  position: relative;
}

.game-cell::after {
  display: inline-block;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font: var(--fa-font-solid);
  position: absolute;
  font-size: 7rem;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.game-cell.is-X::after {
  content: '\58';
}

.game-cell.is-O::after {
  content: '\4f';
}

.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0, 0.5);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 8px;
  padding: .75rem 1rem;
  background-color: #7899D4;
  display: none;
  gap: 1rem;
}

.modal__endgame {
  flex-direction: column;
  align-items: center;
}

.modal-container.is-endgame > .modal__endgame,
.modal-container.is-player > .modal__player {
  display: flex;
}

@media screen and (min-width: 900px) {
  .button__primary {
    padding: .7rem 1rem;
    border-radius: 1.75rem;
  }

  .button__primary--large {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    font-size: 1rem;
  }

  .container {
    flex-direction: row;
    justify-content: center;
    gap: 2rem;
  }

  .hud {
    justify-content: center;
    max-width: 300px;
  }

  .player-card__name-container {
    justify-content: space-between;
    align-items: flex-start;
  }
  
  .game-container {
    width: 70%;
    max-width: 600px;
    margin: 0;
  }

  .game-cell::after {
    font-size: 10rem;
  }
}